<form action="/posts/<%= @post.id %>?_method=PUT" method="post">
  
  <input type="text" name="post[title]" value="<%= @post.title %>" autofocus>
  </br>
  <input type="text" name="post[author]" value="<%= @post.author %>">
  </br>
  <textarea name="post[description]"><%= @post.description %></textarea>
  <%= token_tag form_authenticity_token %>

  <button class="btn btn-primary"> Edit Post </button>
</form>