
<div class="col-xs-3"><h4 class="headlines-title"><%= @post.title %></h4>

<h6><%= @post.author %></h6>
<p><%= @post.created_at.in_time_zone('Pacific Time (US & Canada)').strftime(" %B %d, %Y %I:%M %p") %></p>
<div class="divider"></div>

<p><%= @post.description %></p>
<% @post.comments.each do |comment| %>
  <h3><%= comment.name %></h3>
  <h6><%= comment.created_at.in_time_zone('Pacific Time (US & Canada)').strftime(" %B %d, %Y %I:%M %p") %></h6>
  <p><%= comment.body %></p>
  <% end %>
</div>
